/*  start  data for this project Oculus */
@font-face {
  font-family: 'Helvetica',sans-sarif;
  src: url("../public/fonts/helvetica.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Helvetica-Bold',sans-sarif;
  src: url("../public/fonts/helvetica-bold.woff2");
  font-style: normal;
  font-weight: 700;
}

html{
  box-sizing: border-box;
}

/*  end  data for this project Oculus */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


   /*  start  data for this project  Oculus */
  font-family: 'Helvetica',sans-sarif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color:#5C5C5E;
   /*  end  data for this project Oculus */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
